* {
    margin: 0;
    font-family: monospace;
}

body {
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.container .main {
    display: flex;
    flex-direction: column;
}

.container .main .switch-btn {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    padding: 5px 15px;
    border-radius: 10px;
}

.theme .container .main .heading {
    font-size: 20px;
}

.theme.light {
    background-color: #fff;
    transition: all 0.5s;
}

.theme.light .container .main .heading {
    color: black;
}

.theme.light .container .main .switch-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.theme.light .container .main .switch-btn:hover {
    cursor: pointer;
    border-color: #646262;
    color: #646262;
}

.theme.dark {
    background-color: #000;
    transition: all 0.5s;
}

.theme.dark .container .main .heading {
    color: white;
}

.theme.dark .container .main .switch-btn {
    color: white;
    background-color: black;
    border: 2px solid #ffff;
}

.theme.dark .container .main .switch-btn:hover {
    cursor: pointer;
    border-color: #a09e9e;
    color: #ccc5c5;
}