* {
    margin: 0;
    font-family: monospace;
}

body {
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.container .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
}

.container .reset-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1rem;
    padding: 5px 11px;
    border: 1px solid #e40202;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background: #e40202;
}

.container .main .header {
    font-size: 2rem;
    padding: 10px;
}


.container .main .counter {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 15px 10px;
}

.container .main .counter .minus:hover {
    background: #d3d3d3;
    cursor: pointer;
}

.container .main .counter .minus {
    font-size: 2rem;
    padding: 10px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    background: #f0f0f0;
}

.container .main .counter .result {
    font-size: 2rem;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 10px;
}

.container .main .counter .plus {
    font-size: 2rem;
    padding: 10px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    background: #f0f0f0;
}

.container .main .counter .plus:hover {
    background: #d3d3d3;
    cursor: pointer;
}